{
  "database": {
    "provider": "sqlite",
    "filename": "/opt/app/data/database.sqlite",
    "create_db": true
  },
  "youtube": {
    "developer_key": "Google YouTube API Key"
  },
  "web": {
    "graph": {
      "max_duration": "20:00"
    }
  }
}
