<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>YouTube Timer</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="http://www.youtube.com/player_api"></script>
    <style>
      div[class|=ui-row] {
        text-align: center;
      }
      div[class|=ui-cell] {
        vertical-align: middle;
        display: inline-block;
      }
      html {
        font-family: 'Open Sans';
      }
      form input {
        padding: .5em;
        margin-left: 1em;
        border: none;
        border-radius: 2px;
        background-color: #e9e9e9;
        text-align: center;
      }
      form input[type="submit"] {
        background-color: #0066ea;
        color: white;
        border: none;
      }
      #github_icon {
        position: fixed;
        right: 1em;
        bottom: 1em;
      }
    </style>
    <script>
      var playid = "{{ videoid or '' }}"
      var player = null

      function showNotFoundAlert() {
        alert('Sorry, no video with this duration in the database.')
      }

      function onYouTubePlayerAPIReady() {
        if (playid) playVideo(playid)
      }

      function playVideo(id) {
        if (!player) {
          player = new YT.Player('player', {
            videoId: id,
            events: {
              onReady: function() {
                player.playVideo()
              }
            }
          })
        }
        else {
          player.loadVideoById(id)
        }
      }

      function submitForm(ev) {
        ev.preventDefault()
        var duration = document.getElementById('duration').value
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
            var data = JSON.parse(xhttp.responseText)
            if (data.result) playVideo(data.result)
            else if (data.error) alert(data.error)
            else showNotFoundAlert()
            // Update the location in the browser bar without triggering a refresh.
            window.history.replaceState({} , '', '/' + duration.replace(' ', ''));
          }
        };
        xhttp.open("GET", "/api?duration=" + encodeURI(duration), true)  // TODO: encodeURI() doesn't encode & and /
        xhttp.send()
        return false
      }
    </script>
  </head>
  <body>
    {% if notfound %}
    <script>showNotFoundAlert()</script>
    {% endif %}

    <div class="ui-row">
      <div class="ui-cell">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">
          HD microwave oven that finds and screens a funny YouTube video the same duration as your selected cooking time.</p>&mdash;
          Bored Elon Musk (@BoredElonMusk)
          <a href="https://twitter.com/BoredElonMusk/status/539467221740040192?ref_src=twsrc%5Etfw">December 1, 2014</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="ui-row">
      <div class="ui-cell">
        <h1>Here's a prototype.</h1>
      </div>
    </div>

    <div class="ui-row">
      <div class="ui-cell">
        <div style="position: relative; width: 1000px; height: 581px; text-align: left; background-image: url('{{ url_for('static', filename='microwave.png') }}')">
          <form style="position: absolute; left: 805px; top: 126px; display: inline-block;" onsubmit="return submitForm(event)">
            <input id="duration" name="duration" value="{{duration or ''}}" placeholder="{{randint(1, 5)}}m {{randint(0,59)}}3s" autofocus>
          </form>
          <div style="display: inline-block; position: absolute; width: 640px; height: 360px; left: 61px; top: 107px; background-color: black;">
            <div id="player"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-row">
      <div class="ui-cell">
        <h2>Video availablity up to 20 minutes:</h2>
      </div>
    </div>

    <div class="ui-row">
      <div class="ui-cell" style="max-width: 1000px; margin: 0 1em">
        {{graph}}
      </div>
    </div>

    <a id="github_icon" href="https://github.com/NiklasRosenstein/youtube-timer">
      <img src="{{ url_for('static', filename='github.svg') }}">
    </a>
  </body>
</html>
